name: Clippy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  clippy:
    name: Run cargo clippy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: clippy
          override: true

      # Install NASM for ISA-L build
      - name: Install dependencies (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y nasm

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}

      - name: Run cargo clippy (deny warnings + nursery)
        run: |
          cargo clippy --all-targets --all-features -- -D warnings -D clippy::nursery
